<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <div id="boolflix" class="d-flex align-items-start flex-column">
      <input
        type="text"
        v-model="searchQuery"
        v-on:keyup.enter="boolSearch"
        class="align-self-center"
      /><button class="rounded align-self-center" @click="boolSearch">
        Avvia ricerca
      </button>
      <div class="movie-card" v-for="movie in movieList">
        <h5>{{ movie.title }}</h5>
        <h6>Titolo originale: {{ movie.original_title }}</h6>
        <h6>Lingua: <img :src="flagUrl+movie.original_language+flagExt" alt="" @error="flagError"></h6>
        <h6>Media voto: {{ movie.vote_average }}</h6>
      </div>
      <div class="series-card" v-for="serie in seriesList">
        <h5>{{ serie.name }}</h5>
        <h6>Titolo originale: {{ serie.original_name }}</h6>
        <h6>Lingua: <img :src="flagUrl+serie.original_language+flagExt" alt="" @error="flagError"></h6>
        <h6>Media voto: {{ serie.vote_average }}</h6>
      </div>
    </div>

    <!-- Vuejs -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- Axios -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
      integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <!-- my Javascript -->
    <script src="./assets/js/main.js"></script>
  </body>
</html>
